$app-padding: 30px;

// header
$header-height: 70px;
$footer-height: 50px;

// home page news carousel
$container-padding-vertical: 80px;
$container-padding-horizontal: 120px;

// break points
$lg-desktop: 1100px;
$sm-desktop: 1000px;
$tablet: 800px;
$mobile-landscape: 700px;
$mobile-portrait: 600px;
